name: ci

on:
  push:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: emanuelgustafzon
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build and test
        uses: docker/build-push-action@v6
        with:
          context: ./mvc-project
          file: ./mvc-project/Dockerfile
          target: build
          load: true

      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          context: ./mvc-project
          file: ./mvc-project/Dockerfile
          platforms: linux/amd64,linux/arm64
          push: true
          target: final
          tags: emanuelgustafzon/mymvc:latest
